
@using Mladim.Client.ViewModels.Survey;
@using Syncfusion.Blazor.Inputs
@using Mladim.Domain.Enums;



<style>
    .thumb
    {
        color: #4da456;
    }

    .e-rating-item-container:not(.e-rating-selected) .thumb {
        color: #6E7191; 
    }
</style>

<MudText Typo="Typo.h2">@this.Question.Texts.FirstOrDefault()</MudText>

    <SfRating ValueChanged="ValueChanged" EnableSingleSelection=true ShowLabel=false ShowTooltip=false>
        <EmptyTemplate>
        @{          
            if (context.Index == 0)
            {
                <span class="oi oi-thumb-up thumb"></span>               
            }
            else if (context.Index == 1)
            {
                <span class=" oi oi-thumb-down thumb"></span>                
            }           
        }
        </EmptyTemplate>
    </SfRating>




@code 
{
   

    [Parameter]
    public SurveyQuestionVM Question{ get; set; }

    [Parameter]
    public SurveryBooleanResponseVM SurveryResponse { get; set; }


    private void ValueChanged(double value)
    {
        SurveryResponse.Response = (SurveyBooleanResponseType)value;
    }
}
