@using Mladim.Client.ViewModels.Survey;
@using Mladim.Domain.Enums;
@using Syncfusion.Blazor.SplitButtons



<div>
    <ValidationMessage style="margin-bottom:0.4rem;" For="@(() => surveryButtonResponseVM.ButtonType)" />

    <div class="row">
        <div class="btn-group col-sm-12 col-lg-7">
            @foreach (var groupBtn in GroupButtons)
            {
                <button type="button" @onclick="(() => OnButtonClick(groupBtn.Value))" class="@groupBtn.CssClass">@groupBtn.Text</button>
            }
        </div>
    </div>
</div>


@code 
{
    private SurveryButtonResponseVM surveryButtonResponseVM;

    [Parameter]
    public QuestionMultiButtonResponseVM SurveyResponse { get; set; } = default!;

    private List<GroupBtn> GroupButtons = new List<GroupBtn>();

    protected override void OnInitialized()
    {
        // questionButtonResponse = new QuestionButtonResponseVM(SurveyResponse.UniqueQuestionId)
        // {
        //     Response = new SurveryButtonResponseVM(),
        // };
        surveryButtonResponseVM = new SurveryButtonResponseVM();
        SurveyResponse.Response.Add(surveryButtonResponseVM);
        GroupButtons = GetButtonGroups().ToList();
    }


    private IEnumerable<GroupBtn> GetButtonGroups()
    {
        yield return new GroupBtn("NE DRŽI", SurveyButtonResponseType.Incorrect);
        yield return new GroupBtn("DELNO DRŽI", SurveyButtonResponseType.PartiallyCorrect);
        yield return new GroupBtn("DRŽI", SurveyButtonResponseType.Correct);
        yield return new GroupBtn("ZELO DRŽI", SurveyButtonResponseType.VeryCorrect);

    }

    private void OnButtonClick(SurveyButtonResponseType btnType)
    {
        foreach (var groupBtn in GroupButtons)
        {
            if (groupBtn.Value == btnType)
                groupBtn.Active();
            else
                groupBtn.NoActive();
        }
        surveryButtonResponseVM.ButtonType = btnType;
       

        StateHasChanged();
    }


    public class GroupBtn
    {
        public string CssClass { get; set; } = string.Empty;
        public SurveyButtonResponseType Value { get; }
        public string Text { get; }
     
        private string NotActiveSmile => "btn btn-primary shadow-none";
        private string ActiveSmile => $"{NotActiveSmile} group-btn-active";


        public GroupBtn(string text, SurveyButtonResponseType value)
        {
            this.Text = text;
            this.Value = value;
            this.CssClass = NotActiveSmile;
        }

        public void Active() =>
            this.CssClass = ActiveSmile;

        public void NoActive() =>
            this.CssClass = NotActiveSmile;
    }
}
