.btn-primary {
    background-color: red !important;
    border-color: #6e7191 !important;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    line-height: normal !important;
    color: white !important;
}

    .btn-primary:focus,
    .btn-primary:hover,
    .btn-primary:active {
        background-color: #4da456 !important;
        border-color: #4da456 !important;
        color: white !important;
    }

.btn-group {
    background-color: #6e7191 !important;
    border-color: #6e7191 !important;
}  


.group-btn-active {
    background-color: #6e7191 !important;
    border-color: #6e7191 !important;
    color: white !important;
}
