
@using Syncfusion.Blazor.Inputs;

@using Mladim.Client.ViewModels.Survey;

@using Mladim.Domain.Enums;

<style>
    
    .e-rating-item-container:not(.e-rating-selected) .emoji {
        filter: grayscale(1);
    }
</style>

<MudText Typo="Typo.h2">@Question.Texts.FirstOrDefault()</MudText>
<SfRating ValueChanged="ValueChanged" EnableSingleSelection=true ShowLabel=false ShowTooltip=false>
        <EmptyTemplate>
        @{
            if (context.Index == 0)
            {
                <span class='angry emoji'>😡</span>
            }
            else if (context.Index == 1)
            {
                <span class='disagree emoji'>🙁</span>
            }
            else if (context.Index == 2)
            {
                <span class='neutral emoji'>😐</span>
            }
            else if (context.Index == 3)
            {
                <span class='agree emoji'>🙂</span>
            }
            else
            {
                <span class='happy emoji'>😀</span>
            }
        }
        </EmptyTemplate>
    </SfRating>

@code
{

    [Parameter]
    public SurveyQuestionVM Question { get; set; }

    [Parameter]
    public SurveryRatingResponseVM SurveryResponse { get; set; }


    private void ValueChanged(double value)
    {
        SurveryResponse.Response = (SurveyRatingResponseType)value;
    }
}
