

<style>    
    .btn:focus,
    .btn:hover
    {
        background-color: #4da456;
        border-color: #4da456;      
    }
    .btn
    {
        background-color: #6e7191;
        border-color: #6e7191;
    }   
</style>

<MudStack>
    <MudText Color="Color.Tertiary" Typo="Typo.h2">Kako si?</MudText>    
    <div class="row">       
        <div class="btn-group" >
            <button type="button" @onclick="@(() => selectedValue = 1)" class="btn btn-primary shadow-none">NE DRŽI</button>
            <button type="button" @onclick="@(() => selectedValue = 2)" class="btn btn-primary shadow-none ">DELNO DRŽI</button>
            <button type="button" @onclick="@(() => selectedValue = 3)" class="btn btn-primary shadow-none">DRŽI</button>
            <button type="button" @onclick="@(() => selectedValue = 4)" class="btn btn-primary shadow-none">ZELO DRŽI</button>
        </div>        
    </div>   
</MudStack>




@code 
{

    int? selectedValue = null;

    private void ButtonOnClickedEvent(int i)
    {
        
    }
}
