@page "/"

@attribute [Authorize]
<PageTitle>Poročila</PageTitle>

<MudStack Class="py-5" Spacing="4">
   <MudTextField Value="@SelectedOrganization?.Attributes?.Name" Label="Izbrana organizacija" Variant="Variant.Outlined" ReadOnly="true"></MudTextField>

   @if (SelectedOrganization != null)
    {
        <MudTabs  Class="py-3" Elevation="0" >
            <MudTabPanel Text="Statistika">
                <MudStack Spacing="3" Class="py-5">
                    <div style="width:200px;">
                        <MudSelect T="int" Label="Izberi leto" Value=selectedYear ValueChanged="OnYearChangedAsync" OpenIcon="@Icons.Material.Filled.CalendarMonth" Variant=Variant.Outlined AdornmentColor="Color.Primary">
                            @foreach(int year in availableYears)
                            {
                                <MudSelectItem Value="@year">@year</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </MudStack>
            </MudTabPanel>
            <MudTabPanel Text="Aktivni projekti">
               
            </MudTabPanel>       
            <MudTabPanel Text="Končani projekti">
             
            </MudTabPanel>           
        </MudTabs>
    }   
</MudStack>





