@page "/enka"

<PageTitle>En klik anketa</PageTitle>
@attribute [Authorize]




<div style="width:100%; height:100vh">
    <iframe src="https://mama.survey360.eu/index.php" scrolling="yes" frameborder="0" allowfullscreen></iframe>
</div>

@code 
{

}
